.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  /* padding: 30px; */
  z-index: 10000;
  overflow-y: auto;
}

.dialog > main {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0,0,0,0.1);
  padding-top: 0px;
  transform: translate(-50%, -50%);
}

/* make sure all uses of modal wrap their content in div */
.dialog > main > div {
  height: 100%;
  overflow-y: auto;
}

